<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planea tu viaje</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <!-- Barra de Navegación -->
    <header>
        <div class="logo">
            <span>Planea <b>Viajes</b></span>
        </div>
        <nav>
            <a href="#">Planea tu viaje</a>
            <a href="#">Votaciones y toma de decisiones</a>
            <a href="#">Reportes</a>
            <a href="#">Votaciones</a>
        </nav>
        <div class="buttons">
            <a href="./Usuarios/login.html" class="register" target="_blank">Login</a>
            <a href="./Usuarios/registro.html" class="register" target="_blank">Regístrate</a>
        </div>
    </header>

    <!-- Sección Hero -->
    <section class="hero">
        <div class="hero-image">
            <img src="./assets/images/viaje.jpg" alt="Airplane">
        </div>
    </section>

</body>
</html>
